* {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}


body {
  background: url('/images/bg-gray-noise.png') #E2E1DE repeat center center;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.container{
  background-color:#fff;
  margin: 2%;
  padding: 2% 10%;
  max-width:900px;
}

