<h1>Gilbert K. Chesterton</h1>
<h2>The Great</h2>
<p>
  <b>Gilbert Keith Chesterton</b>, <a href="/wiki/Order_of_St._Gregory_the_Great" title="Order of St. Gregory the Great">KC*SG</a> 
  (29 May 1874&nbsp;– 14 June 1936) was an English writer. He published works on 
  <a href="http://en.wikipedia.org/wiki/Philosophy" title="Philosophy">philosophy</a>, 
  <a href="http://en.wikipedia.org/wiki/Ontology" title="Ontology">ontology</a>, 
  <a href="http://en.wikipedia.org/wiki/Poetry" title="Poetry">poetry</a>, plays, 
  journalism, public lectures and debates, literary and art criticism, biography, 
  <a href="http://en.wikipedia.org/wiki/Christian_apologetics" title="Christian apologetics">Christian apologetics</a>,
  and fiction, including fantasy and detective fiction.
  Chesterton has been called the "prince of paradox".
  <a href="http://en.wikipedia.org/wiki/Time_(magazine)" title="Time (magazine)"><i>Time</i></a> magazine,
  in a review of a biography of Chesterton, observed of his writing style: "Whenever possible
  Chesterton made his points with popular sayings, proverbs, allegories—first carefully turning
  them inside out." For example, Chesterton wrote "Thieves respect property. 
  They merely wish the property to become their property that they may more perfectly respect it."
</p>
<h2>Quotes</h2>
<blockquote>
  All conservatism is based upon the idea that if you leave
  things alone you leave them as they are. But you do not.
  If you leave a thing alone you leave it to a torrent of change.
</blockquote>

<blockquote>
  Compromise used to mean that half a loaf was better than no bread.
  Among modern statesmen it really seems to mean that half a loaf;
  is better than a whole loaf.
</blockquote>

<blockquote>
  Democracy means government by the uneducated,
  while aristocracy means government by the badly educated.
</blockquote>
<blockquote>
  Journalism largely consists of saying "Lord Jones is Dead"
  to people who never knew that Lord Jones was alive.
</blockquote>